body{
    font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
margin: 0px;
}

header{
    text-align: center;
    box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.116);
    padding: 1rem 0;
    position: relative;
}

.logo{
        width: 45%;
        max-width:250px;  
}

.firstSection{
    text-align: center;
}


.emplacement{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 1rem;
    padding:1px;
    background-color: #F3F3F3 ;
}
.emplacement i {
    font-size:1.1rem ;
}






.steps{
    margin: auto;
}
li{
    display: flex;
}
img{
   
    object-fit: cover;
}
