html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
margin: 0px;

}
.chargement{
    position: fixed;
    background-image: linear-gradient(#FF79DA,#60c78e,#9356DC);;
    inset: 0;
    z-index: 2;
    opacity: 0.9;
    animation: chargementOff 1s ease-in-out;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    h2{ 
        opacity: 1;
        position: absolute;
        font-family: "shrikhand",cursive;
        font-size: 5rem;
        
    }


    h2:nth-child(1){
        color: transparent;
        -webkit-text-stroke:0.5px #fff ;

    }
    h2:nth-child(2){
        color: #fff;
        animation: OMFanim 4s ease-in-out infinite;

    }
    @keyframes OMFanim {

        0%,100%{
            clip-path: polygon(0% 48%, 17% 44%, 29% 45%, 40% 51%, 51% 59%, 68% 65%, 84% 62%, 97% 50%, 100% 45%, 100% 99%, 0% 100%);
        }
        50%{
            clip-path: polygon(0 61%, 17% 66%, 28% 65%, 42% 63%, 55% 53%, 69% 45%, 84% 41%, 95% 40%, 100% 41%, 100% 99%, 0% 100%);        }
        
    }
    
    

}

@keyframes chargementOff {
    from{
        opacity: 1;
    }
    to{
        visibility: hidden;
        opacity: 0;
    }
}


header{
    text-align: center;
    box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.116);
    padding: 1rem 0;
    position: relative;
    .logo{
            width: 45%;
            max-width:250px;  
    }
    img{
        object-fit: cover;
    }

}


.emplacement{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 1rem;
    padding:1px;
    background-color: #e9e9e9 ;
    font-size:1.1rem ;
}

.description{
    padding: 2rem 0 3rem 0;
    background-color:#F5F5F5;
    text-align: center;
    p{
        color: #8a8888;
    }
}

button{
    box-shadow: 2px 1px 16px -5px #000000;
    font-size: 1rem;
    margin-top:1rem ;
    color: #fff;
    height: 3.5rem;
    width: 15rem;
    border: 0px;
    border-radius: 30px;
    background-image: linear-gradient(#FF79DA,#9356DC);

    transform: scale(1);
    transition: transform 200ms ease;
    &:hover {
        transform: scale(1.05);
        opacity: 0.8;
        }
}

.steps{
    padding: 2rem 0 ;
    a{
        text-decoration: none;
        color: #8a8888;
    }
    ol{
        padding-left: 1.5rem;
    }
    h1{
        margin-left: 1.5rem;
    }
    counter-reset: etape;
    li{
        position: relative;
        &::before{
            content:counter(etape);
            counter-increment: etape;
            background-color: #9356DC;
            display: grid;
            place-items: center;
            color: white;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            position: absolute;
            bottom: 1.4rem;
            left: -0.8rem;
        }
        list-style: none;
        background-color: #e9e9e9;
        padding: 1.5rem 2rem;
        gap: 1rem;
        border-radius: 1rem;
        margin: 1rem;
        box-shadow: 0px 1px 16px -7px #000000;
        
        &:hover{
            background-color: #e9d6ff;
        }


        &:hover>.fas{
                color: #9356DC;
            }

        .fas{ 
            margin-right: 1rem;
            color: #8a8888;
            
        }
    }
    
}

.Restaurants{
    padding-top: 2rem;
    background-color: #f3f3f3;
   
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    a{
        background-color: #fff;
        text-decoration: none;
        color: #000000;

        scale: 1;
        transition: all 200ms ;

        
        /* une animation en plus*/
        
        /*
        
        
        
        &.page1:active {
          
           animation: goTo 0.5s ease-in-out forwards;
           
            
        }
               
        &.page2:active {
          
            animation: goTo 0.5s ease-in-out forwards;
             
         }
         &.page3:active {
          
            animation: goTo 0.5s ease-in-out forwards;
             
         }
         &.page4:active {
          
            animation: goTo 0.5s ease-in-out forwards;
             
         } 
        
         @keyframes goTo {
            from{
                scale: 1;
                transform: translateY(0);
            }
            to{

                scale: 1.2;
                transform: translateY(-50rem);
            }
            
        }
         */
      
        
    }
    .nv::before{
        content: "Nouveau";
        position: absolute;
        height: 2rem;
        width: 5rem;
        background-color:#99E2D0;
        display: grid;
        place-items: center;
        color :rgb(42, 134, 42);
        font-weight: bold;
        border-radius: .3rem;
        right: 1rem;
        top: 1rem;
       
    }


 h1{
     font-size: 1.5rem;
     margin-left: 1.5rem;
 }

 .cardRestaurant{
    width: 90%;
    box-shadow: 0px 1px 16px -7px #000000;
    border-radius: 1.5rem;
    height: 15rem;
    margin-bottom: 1.5rem;
    position: relative;
    img{
        border-radius: 1.5rem 1.5rem 0 0 ;
        height:65%;
        width: 100%;
        object-fit: cover;
    }
    .infoCard{
        
        position: relative;
        padding-left: 1rem;
        margin: 0;
        h3{
            margin-top: 1rem;
            margin-bottom: 1px;
        }
        p{
            margin-top: 2px; 
        }
        i{
            position: absolute;
            font-size: 1.8rem;
            right: 1.2rem;
            top: 50%;
            transform: translateY(-50%);
            transition: all 200ms ease;
            


            &.fas{
                color: transparent;
                background-image: linear-gradient(#9356DC,#FF79DA);
                background-clip: text;
                -webkit-background-clip: text;
                opacity: 0;
                scale: 1;
                transition: all 200ms ease;
                &:hover{
                    
                    opacity: 1;
                    scale: 2;
                   transform: translateY(-50%) scale(1.1);       
                   
                }
                
            }
        }
      } 
   
    
 }



}


footer{
    color: white;
    background-color: #313131;
    img{
        margin-top: 2rem;
        margin-left: 2.5rem;
        width: 7rem;
    }
    li{

        list-style: none;
        padding-bottom: 10px ;
    }
    
    
    padding-bottom: 1rem;

}
/**************************************************************/
/*******************restos                   *****************/
/**************************************************************/
.couverture {
    
    img {
        width: 100%;        
        height: 28vh;
        object-fit: cover;
        object-position: center ;
    }
}
.menu{
    margin-top: -3rem;
    padding: 25px 0;
    background-color: #f5f5f5;
    border-radius: 30px 30px 0 0 ;
    position: relative;
    
  /* .menu__categorie{
    &:hover .category::after{

        content: "";
        height: .25rem;
        width:5/rem;
        background-color: #99E2D0;
        display: -webkit-box;
        
    }
   }*/

   


    .titre__menu{
        display: flex;
        position: relative;
        margin-bottom: 25px;
       
        i{
            position: absolute;
            font-size: 1.8rem;
            right: 3.2rem;
            top: 43%;
            transform: translateY(-50%);
            transition: all 200ms ease;
            
            &.fas{
                color: transparent;
                background-image: linear-gradient(#9356DC,#FF79DA);
                background-clip: text;
                -webkit-background-clip: text;
                opacity: 0;
                scale: 1;
                transition: all 200ms ease;
                &:hover{
                    
                    opacity: 1;
                    scale: 2;
                    transform: translateY(-50%) scale(1.1);       
                    
                }
                
            }
        }
        
    }
    h2{
        
        margin: 0;
        
        font-family: "shrikhand",cursive;
        padding-left: 18px;
    }
    .category{
        padding-left: 1rem;
        text-transform: uppercase;
        font-weight: 500;
        color: #564e4e;
        margin-top: 2rem;
        &::after{
            content: "";
            height: 0.25rem;
            width:3rem;
            background-color: #99E2D0;
            display: -webkit-box;

        }
        
        
    }
    
    
    

    .plat{
       


        background-color: #fff;
        margin: 10px;
        padding:0;
        border-radius: 20px;
        box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.116);
        display: flex;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        animation: oneByOne .5s;


        animation-delay: calc(var(--order) * 100ms);
        animation-fill-mode: both;
        &:hover .good{
            
            transition: transform 200ms ease;
            margin-right: 0;
            transition: all .5s ease;
            
        }
        &:hover .fas{
            transition: transform 200ms ease;
            transition: all .5s ease;
            rotate: 360;
            animation: rotation .5s ease;
        }

        @keyframes oneByOne {
            from{
                transform:translateY(30px) ;
                opacity: 0;    
            }
            to{
                opacity: 1;
                transform: translateY(0) ;
            }
            
        }
        
        @keyframes rotation {
            from{
                transform: rotate(0deg);
            }
            to{
                transform: rotate(360deg);
            }
            
        }
        
        
        .description__menu{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        h3{
            margin: 0;
            padding: 15px 0 0 15px;
            text-transform: none;
            color: #000;
            font-weight: 900;
            overflow: hidden;
           
            text-overflow: ellipsis;
            
        }
        
        
        p{
            padding: 0 0 15px 15px;
            margin-top: 3px  ;
            margin-bottom: 0;
            font-weight: 500;
            color: #564e4e;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .prix{
            padding: 15px;
            margin-left: auto;
            display: flex;
            align-items: flex-end;
            font-weight: bold;
            color: #000;
            
        }
        .good{
            border-radius: 0 15px 15px 0;
            width:4rem;
            background-color: #99E2D0;
            margin-right: -4rem;
            transition: all .5s;
            display: grid;
            place-items: center;
            .fas{
                color: #99E2D0;
                display: grid;
                place-items: center;
                background: #fff;
                border-radius: 1rem;
                width: 2rem;
                height: 2rem;
                
            }
        }
        
        
    }

    .button__commander{
            
            display: block;
            margin: auto;
            margin-top: 3rem;
            margin-bottom: 2rem;
        }
    
    
    





}
