body{
    font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
margin: 0px;
}

header{
    text-align: center;
    box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.116);
    padding: 1rem 0;
    position: relative;
}

.logo{
        width: 45%;
        max-width:250px;  
}

.firstSection{
    text-align: center;
}


.emplacement{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 1rem;
    padding:1px;
    background-color: #e9e9e9 ;
    font-size:1.1rem ;
}

.description{
    padding: 2rem 0 3rem 0;
    background-color:#F5F5F5;
    
}

button{
    box-shadow: 2px 1px 16px -5px #000000;
    font-size: 1rem;
    margin-top:1rem ;
    color: #fff;
    height: 3.5rem;
    width: 15rem;
    border: 0px;
    border-radius: 30px;
    background-image: linear-gradient(#FF79DA,#9356DC);
}
button:hover{
    transform: scale(1.02);
    opacity: 0.8;
    transition: all 200ms;
    
}




.steps{
    margin: auto;
}
li{
    display: flex;
}
img{
   
    object-fit: cover;
}
