

@mixin hover-plat {
    @keyframes rotation {
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
        
    }
    
    &:hover .good{
            
        transition: transform 200ms ease;
        transition: all .5s ease;
        margin-right: 0;
        
    }
    &:hover .fas{
        transition: transform 200ms ease;
        transition: all .5s ease;
        animation: rotation .5s ease;
        
    }

}
@mixin txt-ellipsis ($fontweight){
    font-weight: $fontweight;
    overflow: hidden;
    text-overflow: ellipsis;

}


@mixin  chargementOff {   
@keyframes chargementOff1 {
    from{
        opacity: 1;
    }
    to{
        visibility: hidden;
        opacity: 0;
    }
}
animation:  chargementOff1 1s ease-in-out;
}






@mixin ohmyfoodcharge {
    @keyframes OMFanim {

        0%,100%{
            clip-path: polygon(0% 84%, 7% 83%, 18% 84%, 25% 91%, 33% 95%, 44% 98%, 57% 96%, 68% 93%, 81% 92%, 90% 93%, 99% 95%, 100% 100%, 1% 100%);        }
        50%{
            clip-path: polygon(0% 44%, 14% 51%, 31% 51%, 38% 49%, 47% 44%, 59% 40%, 70% 40%, 82% 41%, 89% 44%, 100% 48%, 100% 48%, 100% 100%, 0% 100%);}
       }
    animation: OMFanim 5s ease-in-out infinite;
    
    
}




